<!-- https://www.iconfinder.com/iconsets/kitchen-appliances-computers-and-electronics -->
<div class="sidebar-drawer">
    
    <ul class="noselect pointer">
        
        <li>
            <img src="/assets/images/tv2.svg" />
            <span>TV</span>
        </li>
        <hr />

        <li class="selected">
            <img src="/assets/images/dish.svg" />
            <span>Dish Antenna</span>
        </li>
        <hr />

        <li>
            <img src="/assets/images/music-system.svg" />
            <span>Music System</span>
        </li>
        <hr />
        
        <li>
            <img src="/assets/images/refrigator.svg" />
            <span>Refrigators</span>
        </li>
        <hr />
        
        <li>
            <img src="/assets/images/washing-machine.svg" />
            <span>Washing Machine</span>
        </li>
        <hr />

        <li>
            <img src="/assets/images/air-conditioner.svg" />
            <span>Air Conditioner</span>
        </li>
        <hr />
        
        <li>
            <img src="/assets/images/air-cooler.svg" />
            <span>Air Cooler</span>
        </li>
        <hr />

        <li>
            <img src="/assets/images/fan.svg" />
            <span>Fan</span>
        </li>
        <hr />
        
        <li>
            <img src="/assets/images/sewing-machine 2.svg" />
            <span>Sewing Machine</span>
        </li>
        <hr />
        
        <li>
            <img src="/assets/images/electric-iron.svg" />
            <span>Electric Iron</span>
        </li>
        <hr />
        
        <li>
            <img src="/assets/images/mixer-and-grinder.svg" />
            <span>Mixer & Grinder</span>
        </li>
        <hr />

        <li>
            <img src="/assets/images/microwave-oven.svg" />
            <span>Microwave Oven</span>
        </li>
        <hr />

        <li>
            <img src="/assets/images/battery.svg" />
            <span>Battery</span>
        </li>
        <hr />
    </ul>

</div>
